@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap");

$theme-color: #ffffff;
$background-color: #f2f3f4;
$foreground-color: #222324;

$accent-color: hsl(349, 90%, 63%);
$accent-color-light: hsl(337, 88%, 90%);
$accent-color-dark: rgb(208, 30, 63);
$accent-color-text-dark: #99001f;
$accent-color-opac80: rgba(246, 76, 107, 0.8);

$serif-font: "Playfair Display", serif;
$sans-serif-font: "Manrope", sans-serif;

$margin-1: 48px;
$margin-2: 24px;
$margin-3: 12px;
$margin-4: 6px;

$text-xs: 0.8rem;
$text-sm: 1rem;
$text-md: 1.2rem;
$text-lg: 1.8rem;
$text-xl: 2.4rem;
$text-2xl: 4rem;
$text-3xl: 6rem;
$text-4xl: 8rem;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;

$shadow-sm: 0px 4px 8px rgba(0, 0, 0, 0.3);
$shadow-md: 0px 10px 20px rgba(0, 0, 0, 0.25);
$shadow-lg: 0px 16px 40px rgba(0, 0, 0, 0.25);

$breakpoint-mobile: 600px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1366px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@mixin heading-styles($size_desktop, $size_tablet, $size_mobile) {
  // $margin: math.div($size, 4);

  font-family: $serif-font;
  font-size: $size_desktop;
  @media screen and (max-width: $breakpoint-desktop) {
    font-size: $size_tablet;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    font-size: $size_mobile;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $sans-serif-font;
  font-weight: bold;
}

.page-section {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: clamp($breakpoint-mobile, 100%, $breakpoint-desktop);
  align-content: center;
  padding: 2rem;
  gap: 16px;

  h1 {
    @include heading-styles($text-2xl, $text-xl, $text-lg);
  }
  h2 {
    @include heading-styles($text-lg, $text-md, $text-sm);
    color: $accent-color;
  }
}

.hero {
  background: $accent-color;
  box-shadow: 0px 12px 40px rgba(246, 76, 107, 0.24);

  p {
    color: white;
  }

  h1 {
    font-size: $text-2xl;
    font-family: $serif-font;
  }
  .heading.primary {
    font-size: $text-3xl;
    color: #ffffff;
  }
  .heading.secondary {
    font-size: $text-3xl;
    color: $accent-color-light;
    padding-bottom: 24px;
  }
  @media screen and (max-width: $breakpoint-desktop) {
    .heading.primary {
      font-size: $text-2xl;
    }

    .heading.secondary {
      font-size: $text-2xl;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    .heading.primary {
      font-size: $text-xl;
    }

    .heading.secondary {
      font-size: $text-xl;
    }
  }

  .content {
    display: grid;
    flex-direction: column;
    place-content: center;
    gap: 12px;
    .cta-flex {
      display: flex;
      gap: 16px;
      width: max-content;
    }
  }
}

// Call to Action Button, Reusable with Variables
.cta {
  background-color: transparent;
  border: 2px solid $accent-color;
  border-radius: $border-radius-md;
  color: $accent-color;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 32px;
  transition: background-color 150ms ease-in, color 150ms ease-in,
    transform 150ms ease-in, box-shadow 150ms ease-in;

  &:hover {
    background-color: $accent-color !important;
    color: $theme-color;
    transform: scale(1.05);
  }

  &.primary {
    background-color: $accent-color;
    border: 2px solid $accent-color !important;
    color: white;
    box-shadow: $shadow-md;
    &:hover {
      border: 2px solid $accent-color-dark !important;
      background-color: $accent-color-dark !important;
      color: white !important;
      box-shadow: $shadow-lg;
      transform: scale(1.05);
    }

    &.white {
      background-color: white;
      color: $accent-color;
      border: 2px solid white !important;
      &:hover {
        background-color: white !important;
        border: 2px solid white !important;
        color: $accent-color-text-dark !important;
        transform: scale(1.05);
      }
    }
  }

  &.white {
    color: $theme-color;
    border: 2px solid $theme-color;
    &:hover {
      background-color: $theme-color !important;
      color: $accent-color;
    }
  }
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(1.5rem);
  h1 {
    transition: color 200ms ease-in;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp($breakpoint-mobile, 100%, $breakpoint-desktop);
    padding: $margin-3 $margin-1;
    ul {
      display: flex;
      list-style-type: none;
      transition: color 100ms ease-in;
      li {
        cursor: pointer;
        font-family: $serif-font;
        font-size: 1.2rem;
        padding: $margin-3 $margin-2;
        transition: opacity 100ms ease-in;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

section {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: clamp($breakpoint-mobile, 100%, $breakpoint-desktop);
  grid-template-rows: min-content auto;
  padding: 2rem;
  h1 {
    @include heading-styles($text-2xl, $text-xl, $text-lg);
  }
  h2 {
    @include heading-styles($text-xl, $text-lg, $text-md);
    color: $accent-color;
  }
  h3 {
    @include heading-styles($text-md, $text-sm, $text-sm);
    color: $accent-color-text-dark;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
}

.card {
  padding: $margin-2;
  border-radius: $border-radius-md;
  background-color: white;
  box-shadow: $shadow-lg;
}

.flex-col {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.gridx3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  gap: $margin-2;
  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
